In [1]:
from sqldata import Database

In [2]:
db = Database('sqlite:///database.sqlite')

In [3]:
records = db.query('SELECT * from Player limit 40')

In [4]:
db.table_names

['Match',
 'Team',
 'Team_Attributes',
 'sqlite_sequence',
 'Player_Attributes',
 'country',
 'Player',
 'League',
 'Country']

In [10]:
records.fetch().head()

 id | player_api_id | player_name        | player_fifa_api_id | birthday            | height | weight
----+---------------+--------------------+--------------------+---------------------+--------+--------
 1  | 505942        | Aaron Appindangoye | 218353             | 1992-02-29 00:00:00 | 182.88 | 187
 2  | 155782        | Aaron Cresswell    | 189615             | 1989-12-15 00:00:00 | 170.18 | 146
 3  | 162549        | Aaron Doran        | 186170             | 1991-05-13 00:00:00 | 170.18 | 163
 4  | 30572         | Aaron Galindo      | 140161             | 1982-05-08 00:00:00 | 182.88 | 198
 5  | 23780         | Aaron Hughes       | 17725              | 1979-11-08 00:00:00 | 182.88 | 154
 6  | 27316         | Aaron Hunt         | 158138             | 1986-09-04 00:00:00 | 182.88 | 161
 7  | 564793        | Aaron Kuhl         | 221280             | 1996-01-30 00:00:00 | 172.72 | 146
 8  | 30895         | Aaron Lennon       | 152747             | 1987-04-16 00:00:00 | 165.1  | 139
 9  | 528212        | Aaron Lennox       | 206592             | 1993-02-19 00:00:00 | 190.5  | 181
 10 | 101042        | Aaron Meijers      | 188621             | 1987-10-28 00:00:00 | 175.26 | 170

In [11]:
import csv

In [20]:
with open('test.csv', 'w') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerow(records.headers)
    csv_writer.writerows(records.rows)

In [ ]:
records = db.query('SELECT date, home_player_1, away_player_1, home_team_goal, goal from Match '
                   'WHERE home_player_1 != "None"'
                   'limit 20').fetch()
records

In [ ]:
rows = db.query('Select * From Player limit :lim', lim=5)

In [ ]:
rows.fetch()

In [ ]:
records = db.query('select * from analytics_tables.paid_student limit 10').fetch()